<!DOCTYPE html>

<html>

<head>
    <title>About</title>
 <link rel="icon" href="/img/weather.png"> 
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class = 'back'>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg">
        <div style="color: black ;font-size:20px"> our sevices is to help you for taking appropriate
             decision befor you leaving the house to avoid certian
              unexpected cercomustances that might happen</div>    
    
    {{>footer}}
</body>

</html>