<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body  class = 'back'> 
    <div class="main-content">
        {{>header}}

        <p style="color: black ;font-size:30px">Please provide the name of the city or country 
             to get your weather information</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1" style="color: black ;font-size:30px"></p>
        <p id="message-2" style="color:black;font-size:30px"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>